::selection
{
  background-color: #333;
  color: #fff;
}
::-moz-selection
{
  background-color: #333;
  color: #fff;
}

body {
font-family: 'Artifika', serif;

}
.f-icon{
    font-size: 30px !important;
    margin-top: 10px;
    height: 60px;
    width: 60px;
    line-height: 60px !important;
    border-radius: 100%;
    background-color: crimson;
    color: #fff;
}


.crimson{
    color: #DC143C;
}

.thumbnail{
  border: none;
  -webkit-box-shadow: 2px 3px 16px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 16px -7px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 16px -7px rgba(0,0,0,0.75); 
}

.thumbnail > img
{
    width: 100%;
    height: 250px;
}

h1 {
	font-size: 50px;
}
a {
	-moz-transition: 1s ease-in-out;
		transition: 1s ease-in-out;
}
/*
    ====================================================================================
    ========================================= Home(1) ==================================
    ====================================================================================
*/
/*========================== Start Section Top-bar ================================*/
.top-bar{
	background: #f0f0f0;
	 position: relative;
     left: 0;
    right: 0;
}
.top-bar ul{
	padding: 10px 0;
}
.top-bar .social ul li {
    display: inline;
}
.top-bar .social ul li a,
.top-bar .address ul li a {
	color: #666;
}
.top-bar .address ul li a {
	margin-right: 20px;
	cursor: pointer;
}
.top-bar ul li i{
	margin-right: 10px;

}

.top-bar .navbar-nav>li>a {
	padding: 0;
}

.top-bar .social .navbar-nav>li>a {
	opacity: 0.7;
}
.top-bar  .social li a:hover,
.top-bar .address ul li a:hover
{
	color: crimson;
	opacity: 1;
}

/*===================== Start navbar_head Section ====================*/
.navbar_head .navbar{
	padding: 5px;
	border: 0px solid transparent;
  width: 100%;
	background-color: #fff;
	color: #eee;
  z-index:9999;
	position: relative;
  border-radius: 0;
}

.navbar-inverse .navbar-toggle {
    border: transparent;
}

.navbar_head .navbar-inverse .navbar-toggle:hover,
.navbar_head .navbar-inverse .navbar-toggle:focus
{
    background-color: transparent;    
}

.navbar_head .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar_head.navbar-inverse .navbar-toggle .icon-bar {
    background-color: crimson;
}

.navbar_head .navbar-brand{
	color: #333;
}
.navbar_head .navbar-brand span{
	color: crimson
}
.navbar_head .navbar-brand:hover {

	color: #333;
}

.navbar-nav > li > a
{
  padding-bottom: 10px;
}

.navbar-inverse .navbar-nav>li>a {
	text-transform: uppercase;
	color: #777;
    font-size: 12px;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus
 {
	color:#777

}

.navbar-inverse ul li:hover {
	border-bottom: 2px solid crimson;
}

/*============================ End Navbar_head Section ==================================*/

/*=========================== Start slider Section =====================================*/

.slider {
    position: relative;
    min-height: 700px;
}

.slider .carousel-inner img {
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

.slider .carousel-caption {
	margin-bottom: 20%;	


}
.slider .carousel-caption h1 {
	color: crimson
}
.slider .carousel-control {
	
	background-image: none;
	width: 5%;
	padding: 10px;	

}
/*================================== End Slider =====================================*/
/*
    ====================================================================================
    ========================================= Home(1) ==================================
    ====================================================================================
*/


/*
    ====================================================================================
    ========================================= Home(2) ==================================
    ====================================================================================
*/

/*===================== Start navbar_head Section ====================*/
.navbar_head2 {
    height: 100%;
}
#wrapper{
	height: 700px;
	background-image:url(../images/head3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar_head2 .navbar{
    min-height: 0 !important;
	border: 0px solid transparent;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-color: transparent;
    z-index:9999;
    position:absolute;
    width:100%;
}

.navbar_head2 .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
 
    background-color: transparent;
    color: #000;    
}

.navbar-inverse .navbar-toggle {
    border: transparent;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus
{
    background-color: transparent;    
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: crimson;
}

.navbar_head2 .navbar-brand{
	color: #000;
}
.navbar_head2 .navbar-brand span{
	color: crimson
}
.navbar_head2 .navbar-brand:hover {

	color: #333;
}

.navbar-inverse .navbar-nav>li>a {
	text-transform: uppercase;
	color: #000;
    font-size: 12px;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus
 {
	color:#777

}

.navbar-inverse ul li:hover {
	border-bottom: 2px solid crimson;
}
.navbar_head2 .header-text {
    position: absolute;
    top: 300px;
    left: 50px;
    color: black;
}
.navbar_head2 .header-text b {
    color: crimson;
}

/*=========================== End slider Section =====================================*/
/*========================== Start Welcome Section ======================*/
/*========================== End Welcome Section ======================*/
.welcome {
    padding: 40px 20px;  
    position: relative;
    height: 100%;   
    
    
}

.welcome-text h2 {
    font-size: 37px;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing: 2px;
}
.welcome-text p {
    font-size: 16    px;
    line-height: 1.5em;
}

.welcome .welcome-pic .two-pic .img-responsive{
    max-width: 120%;    
}
.welcome .welcome-pic .one-pic .img-responsive{
    max-width: 109.5%;    
}
/*============================= Start features Section =================================== */
.feat {
    background: #edeeef;
    padding-bottom: 45px;
}
.feat .title{
    color: #FFFFFF;
    background-color:crimson;
    text-transform: uppercase;
    display: block;
    margin: 40px auto;
    margin: 50px auto;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-weight: 900;
    font-size: 13px;
}
/*============================ End features Section =============================*/

/*============================ Start Promise Section =============================*/
.promise .promise-picture {
    height: 600px;
    background-image: url('../images/promise.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 600px solid transparent;
    border-right: 120px solid whitesmoke;
}

.promise .promise-text {
    padding: 40px 20px;
    height: 600px;
    background-color:whitesmoke
}

.promise .promise-icons p {
    font-size: 16px;
    line-height: 1.2em;
}
.promise .promise-icons h2 i{
    color: crimson;
    font-size: 45px;
}


/*============================ End Promise Section =============================*/

/*============================ Start Call To Action Center =========================*/
/* ==================================================
  Call-to-action Styling
  ================================================== */
.cta {
  background-color: crimson;
  padding: 25px 0;
}

.cta h2 {
  margin-bottom: 5px;
}

.cta h2,
.cta p {
  color: #fff;
}

.cta p {
  margin-bottom: 0;
  opacity: .75;
}

.cta .btn {
    background-color: transparent;
    padding: 10px;
    padding: 15px 45px;
    border-radius: 50px;
    border: 3px solid #fff;
    font-weight: bold;
    top: 25px;
    position: relative;
  
}
.cta a {
    font-size: 15px;
}
.cta .btn:hover {
    background-color: #fff;
    color:crimson;    
}

/*============================ Start portfolio Section =============================*/
#portfolio{
  margin-top: 20px;
}

#portfolio .col-md-4.mix{
  display: none;
}

#portfolio .menu .btn-danger{
  background-color: #dc143c;
  border: none;
  margin-bottom: 15px;
}

#portfolio .menu .btn-danger.active{
  background-color: #AD233F !important;
}
/*============================ End portfolio Section =============================*/

/*============================ Start timeline Section =============================*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 150px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 10;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
/*============================ End timeline Section =============================*/
/*========= Start Contact Us ======================*/
.contact-us { 
    background:url('../images/contact4.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}
.contact-us .fields { 
    
    min-height:300px;
    color:#fff;
    padding-top:40px;
    padding-bottom:40px;
}
.contact-us .fa {
    color: crimson
}
.contact-us p { 
    margin-bottom:40px;
}
.contact-us textarea { 
    height:108px;
}
.contact-us input[type="text"],
.contact-us textarea { 
    background:rgba(230,230,230,0.2); 
    color:#fff; 
    border:none; 
    -webkit-transition:all 0.7s ease-in-out; 
    -moz-transition:all 0.7s ease-in-out; 
    -o-transition:all 0.7s ease-in-out; 
    transition:all 0.7s ease-in-out;
}
.contact-us input[type="text"]:focus,
.contact-us textarea:focus { 
    box-shadow:1px 1px 1px crimson inset,
    1px 1px 1px #d7540d;
}
    .contact-us .fields button {
    -webkit-transition:all 0.7s ease-in-out; 
    -moz-transition:all 0.7s ease-in-out; 
    -o-transition:all 0.7s ease-in-out; 
    transition:all 0.7s ease-in-out; 
}

/*============================ Start testimonial Section =============================*/
#testimonial{
  margin-top: 20px;
}
.testimonial{
    background: #dc143c;
    padding: 30px 40px 30px 90px;
    margin: 50px 20px 50px 100px;
    border-radius: 0 85px 85px 0;
    color: #fff;
    position: relative;
}
.testimonial .pic{
    width: 190px;
    height: 190px;
    line-height: 200px;
    border-radius: 50%;
    border: 14px solid #dc143c;
    position: absolute;
    top: -6px;
    left: -100px;
    overflow: hidden;
}
.testimonial .testimonial-title{
    display: inline-block;
    width: 35%;
    float: left;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 28px 20px;
    margin: 0;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.testimonial .testimonial-title small{
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
}
.testimonial .description{
    display: inline-block;
    width: 65%;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    padding: 28px 0 28px 28px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 20px;
    color: rgba(255,255,255,0.5);
}
.testimonial .description:after{
    content: "\f10e";
    font-family: fontawesome;
    font-size: 20px;
    color: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 5px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page span{
    width: 7px;
    height: 7px;
    background: #dc143c;
    border: 4px solid #ed899d;
    box-sizing: content-box;
}
.owl-theme .owl-controls .owl-page span{
    border: 4px solid transparent;
    background: #bcbcbc;
}
@media only screen and (max-width: 767px){
    .testimonial{
        border-radius: 40px;
        margin: 90px 15px 0;
        padding: 100px 40px 30px 40px;
    }
    .testimonial .pic{
        position: absolute;
        top: -85px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .testimonial .testimonial-title{
        width: 100%;
        float: none;
        border-right: none;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .testimonial .description{
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .testimonial{ padding: 100px 30px 30px; }
}
/*============================ End testimonial Section =============================*/

/*============================== Start companies Section ==============================*/
.companies{
  background-color: #edeeef;
}
#companies{
  margin-top: 20px;
  padding: 15px;
}

#companies .fa
{
  font-size: 60px;
  color: #d2d2d2;
}
/*============================== End companies Section ==============================*/


/* ========================== Start footer ======================= */
.footer {
    background-color:whitesmoke
}

.footer span {
    color: crimson;
}
.footer .fa {
    color: crimson;
    margin-left: 15px;
    font-size: 30px;
}
.top {
    position: fixed;
    right: 20px;
    color: #fff;
    font-size: 10px;
    padding: 10px;
    background-color: crimson;
    z-index: 30;
    bottom: 10px;
    cursor: pointer;
    display: none;
}

/*============================ MEDIA ============================*/
@media (max-width:765px) {
    .navbar_head .navbar{
        background-color: transparent;
        position: fixed;
        color: black
    }
    .navbar-inverse .navbar-toggle  {
        margin-left:400px;    
    }
    .navbar-brand {
        display: none;
    }
}